__pycache__/
*.pyc
*.pyo

.venv/
venv/

.vscode/
.idea/

*.log

comparison_results/
results_after/
visualizations_after/
overlays_after/
completed_masks_after/
overlays_completed_after/
rough_masks_after/
refined_masks_after/

backup_before_shape_completion/
